@font-face {
  font-family: "introrustg-base2line";
  src: url("introrustg-base2line-webfont.woff2") format("woff2"),
    url("introrustg-base2line-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --Lato: "Lato", sans serif;
  --syne: "Syne", sans-serif;
  --quicksand: "Quicksand", sans-serif;
  --rust: "introrustg-base2line", cursive;
  --pink: #de6966;
  --green: #7de2d1;
  --blue: #59d2fe;
  --purple: #e5bcfd;
  --yellow: #fdfd96;
  --landing-blue: #8cf4fc;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--syne);
}

a {
  text-decoration: none;
}

body {
  line-height: 1.4;
  background: linear-gradient(
    90deg,
    var(--landing-blue) 0%,
    var(--purple) 100%
  );
}

h1 {
  font-size: 150px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  font-family: var(--rust);
}

h2 {
  font-family: var(--rust);
  color: #4a4684;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  display: inline;
  border-bottom: 2px solid;
}

h3 {
  font-size: 25px;
  font-family: var(--Lato);
  padding: 1rem;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: #222;
  font-family: var(--Lato);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.banner .container {
  min-height: 0;
}

.container {
  margin: 0 3vw;
  padding: 2rem;
  text-align: center;
}

.title {
  text-align: center;
  padding-bottom: 5vh;
}

.title p {
  padding: 2rem;
}

header {
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  display: flex;
}

#landing-video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.navbar {
  background: rgba(0, 0, 0, 0.8);
  padding: 0 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  max-width: 100px;
  order: 1;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}

.navbar-nav a {
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  font-family: var(--syne);
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0 1.2rem;
  letter-spacing: 3px;
  transition: opacity 0.5s ease;
}

.navbar-nav a:hover {
  color: #fff;
}

.navbar-nav a::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}

.navbar-nav a:hover::after {
  width: 100%;
}

.banner {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.banner .container {
  height: auto;
}

.banner img {
  max-width: 30vw;
}

.banner p {
  font-size: 30px;
  text-transform: capitalize;
  font-family: var(--Lato);
  font-weight: 400;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
  color: #fff;
}

.btn {
  font-family: var(--Lato);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 10px 30px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.contact-btn:hover {
  background: #fff;
  letter-spacing: 0.25rem;
  box-shadow: 0 0 10px #fff;
  border-color: #fff;
  color: #222;
  text-shadow: none;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.about-content .button {
  margin: auto;
}

.about-content .about-info span {
  font-weight: 600;
}

.about-video {
  display: flex;
  justify-content: center;
}

.about-video video {
  margin-top: 5vh;
  max-width: 70%;
}

.about-video video:hover {
  transform: scale(1.01);
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin: 50px;
}

.about-image {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.about-card img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.contact {
  position: relative;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .title {
  padding-bottom: 0;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .contact-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .container .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact .container .contact-info h3 {
  text-align: left;
  padding: 0;
}

.contact .container .contact-info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contact .container .contact-info .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.contact .container .contact-info .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: var(--pink);
  flex-direction: column;
  font-weight: 300;
}

.contact .container .contact-info .box .text a {
  text-decoration: none;
  color: #222;
  font-family: var(--syne);
  font-size: 18px;
  line-height: 1.5;
}

.form-content {
  width: 100%;
  padding: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}

.form-content .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.form-content .inputBox input,
.form-content .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.form-content .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 5px;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.form-content .inputBox input:focus ~ span,
.form-content .inputBox input:valid ~ span,
.form-content .inputBox textarea:focus ~ span,
.form-content .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.form-content .btn {
  position: relative;
  color: #222;
  border-color: #222;
  width: 50%;
  text-shadow: none;
}

.form-content .btn:hover {
  border-color: #fff;
  background: transparent;
  color: #fff;
}

.videoPage h2 {
  padding: 0;
}
.videoPage-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.videoPage-content .title h3 {
  padding: 5vw;
  padding-bottom: 0;
}
.videoPage video {
  height: 60vh;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
  margin: 4vw;
  text-align: center;
}

.videoPage video:hover {
  box-shadow: 0 10px 28px 4px rgba(130, 57, 63, 0.65),
    0 10px 50px 20px rgba(130, 57, 63, 0.5),
    0 8px 20px -15px rgba(130, 57, 63, 0.6);
  transform: scale(1.01);
}

.footer {
  position: relative;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon .item,
.menu__item {
  list-style: none;
}

.fa-brands,
.fa {
  font-size: 25px;
}

.social-icon .link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.products .product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: auto;
  padding: 4rem;
}

.products .title {
  padding: 0;
}

.products .product-content h3 {
  color: #111;
}
.products .product-container .product {
  text-align: center;
  padding: 3rem 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 1px solid #ccc;
  outline-offset: -10px;
  cursor: pointer;
}

.products .product-container .product:hover {
  outline: 2px solid #222;
  outline-offset: 0;
  transition: all 0.2s linear;
}

.products .product-container .product img {
  max-width: 100%;
}

.products .product-container .product:hover img {
  transform: scale(0.9);
  transition: all 0.2s linear;
}

.products-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.products-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fff;
  position: relative;
  width: 50vw;
}

.products-preview .preview.active {
  display: inline-block;
}

.products-preview .preview img {
  max-height: 200px;
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 30px;
}

.products-preview .preview .fa-times:hover {
  transform: rotate(90deg);
}

.products-preview .preview h3 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 30px;
}

.products-preview .preview p {
  line-height: 1.5;
  padding: 1rem 0;
  color: #777;
}

.products-preview .preview .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: var(--pink);
}

.products-preview .preview .buttons {
  display: flex;
  gap: 1.5vw;
  flex-wrap: wrap;
  margin-top: 1vh;
  text-transform: capitalize;
}

.products-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 18px;
  color: #444;
  border: 0.1rem solid #444;
}

.products-preview .preview .buttons a.cart {
  background: #444;
  color: #fff;
}

.products-preview .preview .buttons a.cart:hover {
  background: #111;
}

.products-preview .preview .buttons a.buy:hover {
  background: #444;
  color: #fff;
}

.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}

.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}

.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}

.nav-toggler.toggler-open span {
  background-color: transparent;
}

.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

.footer-nav {
  display: flex;
  justify-content: center;
}
.footer-nav a {
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  font-family: var(--syne);
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 0.2rem 1.2rem;
  letter-spacing: 3px;
  transition: opacity 0.5s ease;
}

.footer-nav a:hover {
  color: #fff;
}

.hover-button {
  position: relative;
  background-color: white;
  border: 2px solid;
  color: #4a4684;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
}

.hover-button:hover {
  background-color: #4a4684;
  color: white;
  scale: 1.1;
}

@keyframes border-animation {
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 900px) {
  p {
    font-size: 16px;
  }

  .card .contact .container .contact-info {
    margin-bottom: 20px;
  }
  .contact .container .contact-info,
  .form-content {
    width: 100%;
  }
  .contact .container .contact-info .box .icon {
    font-size: 16px;
    position: absolute;
    display: inline-block;
  }

  .contact {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 20vw;
  }
  h2 {
    font-size: 13vw;
  }
  h3 {
    font-size: 5vw;
  }
  .container {
    margin: 0;
    padding: 0;
  }
  .navbar-nav a {
    font-size: 20px;
    font-weight: 600;
  }
  .navbar {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
  }
  .nav-toggler {
    display: block;
  }
  .navbar-nav {
    position: absolute;
    justify-content: space-evenly;
    font-size: 16px;
    width: 100%;
    height: calc(100vh - 85.6px);
    left: 0;
    top: 85.6px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .navbar-nav.open {
    max-height: 50vh;
    overflow: visible;
  }

  .navbar-logo img {
    max-width: 80px;
  }

  .banner p {
    font-size: 22px;
  }

  header {
    max-height: 100vh;
  }
  .products .product-container {
    grid-template-columns: 1fr;
  }
  .banner .container {
    height: 100%;
  }
  .contact .container .contact-info {
    order: 2;
    text-align: center;
  }
  .form-content {
    box-shadow: none;
  }
  .about-cards {
    grid-template-columns: 1fr;
  }
  .about-card {
    text-align: left;
  }
  .about-video video {
    max-width: 90%;
    margin: 0;
  }
  .about .title {
    margin-top: 20px;
  }
}

/* Animations */
.fade-in {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.5s ease-in;
}

.fade-in.appear {
  opacity: 1;
  filter: blur(0);
}

.from-left {
  transform: translateX(-50px);
}

.from-right {
  transform: translateX(50px);
}

.from-left,
.from-right {
  transition: opacity 0.5s ease-in, transform 0.4s ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

.from-bottom {
  transform: translateY(50px);
  transition: opacity 0.5s ease-in, transform 0.4s ease-in;
  opacity: 0;
}

.from-bottom.appear {
  transform: translateY(0);
  opacity: 1;
}
